<% if h = object[:simplecov] %>
<div class="simplecov">
  <div class="tags">
    <h3>Coverage</h3>
    <ol>
    <% h.each_key do |x| %>
      <li><%= x %>: <%= h[x].fetch(:percent, 0).round(1) %></li>
    <% end %>
    </ol>
  </div>
</div>
<% end %>
